.home-section {
    width: 1200px;
    margin: 0 auto 3rem;
    padding: 2.2rem;
    border-radius: 2rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    background: #73c5ffb5;
}

@media (max-width: 1200px) {
    .home-section {
        width: 700px;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 700px) {
    .home-section {
        width: 350px;
        grid-template-columns: repeat(1, 1fr);
    }
}