.button {
    width: 12rem;
    height: 3.5rem;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    background: #e8e8e88d;
    border: 3px solid #a7a7a7;
    box-shadow: 3px 3px 0px 1.5px #000;
    position: relative;
}

.button:hover {
    top: 0.3rem;
    left: 0.3rem;
    box-shadow: 0px 0px 0px 0px;
}

@media (max-width: 1200px) {
    .button {
        width: 100%;
    }
}

@media (max-width: 700px) {
    .button {
        width: 100%;
    }
}