.note-text {
    width: 1400px;
    margin: 0 auto 5rem;
    display: flex;
}

.note-text__wrapper-buttons {
    width: 12rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.note-text__button {
    width: 100%;
    height: 3.5rem;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    background: #e8e8e88d;
    border: 3px solid #a7a7a7;
    box-shadow: 3px 3px 0px 1.5px #000;
    position: relative;
}

.note-text__button:hover {
    top: 0.3rem;
    left: 0.3rem;
    box-shadow: 0px 0px 0px 0px;
}

.note-text__wrapper-texts {
    width: 100%;
    margin: 0 3rem;
}

.note-text__input {
    width: 100%;
    height: 3rem;
    font-size: 2rem;
    border: none;
    padding: 2rem 1.4rem;
    margin-bottom: 1rem;
}

.note-text__textarea {
    width: 100%;
    padding: 1.4em;
    height: 900px;
    resize: none;
    font-size: 1.6rem;
    border: none;
    background: #fff;
    margin-bottom: 50px;
}

.note-text__input,
.note-text__textarea:focus {
    outline: none;
}

@media (max-width: 1400px) {
    .note-text {
        width: 1100px;
        margin: 0 auto 4rem;
    }

    .note-text__wrapper-texts {
        width: 90%;
        margin: 0 3rem;
    }
}

@media (max-width: 1150px) {
    .note-text {
        width: 900px;
        margin: 0 auto 4rem;
    }

    .note-text__wrapper-texts {
        width: 90%;
        margin: 0 0 0 2rem;
    }
}

@media (max-width: 900px) {
    .note-text {
        width: 700px;
        margin: 0 auto 4rem;
    }

    .note-text__wrapper-texts {
        width: 90%;
        margin: 0 0.6rem 0 2rem;
    }
}


@media (max-width: 700px) {
    .note-text {
        width: 380px;
        flex-direction: column-reverse;
        margin: -1rem auto 4rem;
    }

    .note-text__wrapper-texts {
        width: 90%;
        margin: 0 auto;
    }

    .note-text__textarea {
        height: 600px;
    }

    .note-text__wrapper-buttons {
        margin: 0 auto;
        gap: 2rem;
    }
}