.button-note {
    width: 100%;
    padding: 0.8rem;
    border-radius: 1rem;
    background: #fff;
    cursor: pointer;
    overflow: hidden;
    border: 3px solid #a7a7a7;
    box-shadow: 3px 3px 0px 1.5px #000;
    position: relative;
}

.button-note:hover {
    top: 0.3rem;
    left: 0.3rem;
    box-shadow: 0px 0px 0px 0px;
}

.button-note__title {
    font-size: 1.3rem;
    font-weight: 400;
    width: 14rem;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 auto;
    margin-bottom: 0.5rem;
}

.button-note__date {
    font-size: 14px;
    margin-top: 0.5rem;
}