.authorization-section {
    width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.authorization-section__h3 {
    font-size: 2.5rem;
    font-weight: 400;
    text-align: center;
    margin-bottom: 1rem;
}

.authorization-section__input {
    width: 60%;
    height: 3rem;
    margin: auto;
    font-size: 1.5rem;
    padding: 0 0.8rem;
    border: none;
}

.authorization-section__input:focus {
    outline: none;
}

.authorization-section__password-wrapper {
    width: 60%;
    height: 3rem;
    margin: auto;
    position: relative;
}

.authorization-section__password-input {
    width: 100%;
    height: 3rem;
    font-size: 1.5rem;
    border: none;
    padding-left: 0.8rem;
    padding-right: 4rem;
}

.authorization-section__password-input:focus {
    outline: none;
}

.authorization-section__button-eye {
    width: 2.5rem;
    cursor: pointer;
    background: none;
    border: none;
    position: absolute;
    top: 0.7rem;
    right: 0.8rem;
}

.authorization-section__image-eye {
    width: 100%;
}

.authorization-section__wrapper-buttons {
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.authorization-section__button {
    width: 15rem;
    height: 3.5rem;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    background: #e8e8e88d;
    border: 3px solid #a7a7a7;
    box-shadow: 3px 3px 0px 1.5px #000;
    position: relative;
}

.authorization-section__button:hover {
    top: 0.3rem;
    left: 0.3rem;
    box-shadow: 0px 0px 0px 0px;
}

@media (max-width: 1200px) {
    .authorization-section {
        width: 700px;
    }

    .authorization-section__input {
        width: 90%;
    }

    .authorization-section__password-wrapper {
        width: 90%;
    }

    .authorization-section__wrapper-buttons {
        width: 50%;
        flex-direction: column;
        height: 8.5rem;
    }

    .authorization-section__button {
        width: 100%;
    }
}

@media (max-width: 700px) {
    .authorization-section {
        width: 355px;
    }

    .authorization-section__input {
        width: 90%;
    }

    .authorization-section__password-wrapper {
        width: 90%;
    }

    .authorization-section__wrapper-buttons {
        flex-direction: column;
        height: 8.5rem;
    }

    .authorization-section__button {
        width: 100%;
    }
}