.button-note-add {
    width: 5rem;
    height: 5rem;
    border: none;
    border-radius: 50%;
    background: #fff;
    border: 1px solid #80808045;
    cursor: pointer;
    margin: auto;
    border: 3.5px solid #a7a7a7;
    box-shadow: 3px 3px 0px 1.5px #000;
    position: relative;
}

.button-note-add:hover {
    top: 0.3rem;
    left: 0.3rem;
    box-shadow: 0px 0px 0px 0px;
}

.button-note-add__image {
    width: 2.6rem;
}