.modal {
    width: 30rem;
    height: 12rem;
    margin: auto;
    padding: 3rem 5.2rem;
    border: 2px solid #a8a8a8;
    border-radius: 2rem;
}

.modal__cross-button {
    width: 5rem;
    height: 5rem;
    position: absolute;
    right: 0.4rem;
    top: -0.4rem;
    background: none;
    border: none;
    cursor: pointer;
    transition: all 0.1s ease;
}

.modal__cross-button:hover {
    width: 5.3rem;
    height: 5.3rem;
    right: 0.25rem;
    top: -0.5rem;
}

.modal__cross-image {
    width: 100%;
}

.modal__button {
    width: 18rem;
    height: 5rem;
    font-size: 1.4rem;
    border-radius: 1rem;
    cursor: pointer;
    margin: 0 auto;
    background: #fff;
    border: 3px solid #a7a7a7;
    box-shadow: 3px 3px 0px 1.5px #000;
    position: relative;
}

.modal__button:hover {
    top: 0.3rem;
    left: 0.3rem;
    box-shadow: 0px 0px 0px 0px;
}

@media (max-width: 450px) {
    .modal {
        padding: 2rem 2.1rem;
    }

    .modal__cross-button {
        width: 4rem;
        height: 4rem;
    }

    .modal__button {
        margin-top: 1.2rem;
    }
}