.header {
    display: flex;
    gap: 3.8rem;
    align-items: center;
    padding: 0.8rem 1.3rem;
    margin-bottom: 70px;
    background: #3153ff;
}

.header__h1 {
    font-size: 50px;
    font-weight: 400;
    color: #fff;
}

.header__image {
    width: 80px;
}

.header__button-account {
    width: 14rem;
    height: 4rem;
    background: none;
    padding: 0.5rem;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    position: absolute;
    right: 10rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 3px solid #3a3a3a;
    box-shadow: 3px 3px 0px 2px #fff;
    filter: invert(1);
}

.header__paragraph-account {
    font-size: 1.2rem;
}

.header__image-account {
    height: 100%;
}

.header__button-reg {
    width: 4rem;
    height: 4rem;
    background: none;
    border-radius: 1rem;
    cursor: pointer;
    position: absolute;
    right: 3rem;
    background: none;
    border: 3px solid #3a3a3a;
    box-shadow: 3px 3px 0px 2px #fff;
    filter: invert(1);
}

.header__button-account:hover {
    right: 9.8rem;
    top: 1.5rem;
    box-shadow: 0px 0px 0px 0px;
}
.header__button-reg:hover {
    right: 2.8rem;
    top: 1.5rem;
    box-shadow: 0px 0px 0px 0px;
}

.header__image-reg {
    width: 80%;
}

.header__button-menu {
    width: 4rem;
    height: 4rem;
    background: none;
    border-radius: 1rem;
    cursor: pointer;
    position: absolute;
    right: 3rem;
    background: none;
    border: 3px solid #3a3a3a;
    box-shadow: 3px 3px 0px 2px #fff;
    filter: invert(1);
    display: none;
}

.header__button-menu:hover {
    right: 2.8rem;
    top: 1.5rem;
    box-shadow: 0px 0px 0px 0px;
}

.header__image-menu {
    width: 80%;
}

.header__list {
    width: 10rem;
    height: 5rem;
    list-style: none;
    position: absolute;
    top: 5.5rem;
    right: 3rem;
    border: 1px solid #000;
    border-bottom: none;
}

.header__item-list {
    height: 50%;
}

.header__button-list {
    height: 100%;
    width: 100%;
    background: #fff;
    border: none;
    border-bottom: 1px solid #000;
    font-size: 0.9rem;
    cursor: pointer;
}

.header__button-list:active {
    background: #f3f3f3;
}

.display-none {
    display: none;
}

@media (max-width: 700px) {
    .header {
        gap: 2.5rem;
    }

    .header__h1 {
        font-size: 9vw;
    }

    .header__image {
        width: 70px;
    }

    .header__button-account {
        display: none;
    }

    .header__button-reg {
        display: none;
    }

    .header__button-menu {
        display: block;
    }
}